* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

#root {
  background-color: black;
  color: whitesmoke;
}

@keyframes goUp {
  100% {
    transform: translateY(-72.7vh);
  }
}

@keyframes backDown {
  100% {
    transform: translateY(72.7vh)
  }
}

#overlord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(13px + 8 * ((100vw - 400px) / 1200));
  min-height: 98vh;
  font-family: 'Varta', sans-serif;
  overflow: hidden;
}

#main {
  display: flex;
  height: 95vh;
  width: 97.5vw;
  border-left: 1px solid gold;
  border-right: 1px solid gold;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

#bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}



























/* ---------------------------   Header */

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid gold;
}

#header-turtle-racing {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header-chosen-turtle {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}





























/* ---------------------------   Main Panel */

#main-panel {
  display: flex;
  height: 100%;
  width: 100%;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

.slots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 25%;
  text-align: center;
}

#slot1 {

}

#slot2 {
  border-left: 1px solid gold;
  border-right: 1px solid gold;
}

#slot3 {
  border-right: 1px solid gold;
}

#slot4 {

}

.turtles {
  width: 20%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

#turtle1 {
  background-color: blue;
}

#turtle2 {
  background-color: red;
}

#turtle3 {
  background-color: gold;
  color: black;
}

#turtle4 {
  background-color: green;
}




























/* ---------------------------   Options Panel */

#options-panel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid gold;
  border-bottom: 1px solid gold;
  border-top: 1px solid gold;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turtle-radio-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75%;
}



/* - */



.div-turtle input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.div-turtle label {
  display: inline-flex;
  color: black;
  padding: 10px 20px;
  margin-top: 20px;
  /* font-size: 20px; */
  border: 1px solid transparent;
  background-color: white;
  border-radius: 6px;
  transition-duration: 0.5s;
}

/* #div-turtle1 label {
  background-color: lightblue;
}

#div-turtle2 label {
  background-color: lightcoral;
}

#div-turtle3 label {
  background-color: lightpink;
}

#div-turtle4 label {
  background-color: lightsalmon;
} */

.div-turtle label:hover {
  transform: scale(1.3);
}

.div-turtle input[type="radio"]:disabled + label:hover {
  transform: none; 
}

.div-turtle input[type="radio"]:disabled + label {
  background-color: darkgray;
  color: lightgray;
}

#div-turtle1 input[type="radio"]:checked + label {
  background-color: blue;
  color: white;
}

#div-turtle2 input[type="radio"]:checked + label {
  background-color: red;
  color: white;
}

#div-turtle3 input[type="radio"]:checked + label {
  background-color: gold;
  color: black;
}

#div-turtle4 input[type="radio"]:checked + label {
  background-color: green;
  color: white;
}

/* .div-turtle input[type="radio"]:focus + label {
  border: 2px dashed #444;
} */



/* - */



input[type="radio"]:checked + label {
  border: 1px solid white;
}

.div-turtle:checked {
  border: 1px solid white;
}







#options {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}







#button {
  height: 10%;
}

#button button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

#start-button {
  background-color: rgb(191, 255, 191);
}

#restart-button {
  background-color: #a5b9fd;
}

#restart-button:disabled {
  background-color: #ff9797;
}








#results {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#results-header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#race-results {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#WoL-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#WoL-win {
  /* background-color: blue; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#WoL-lose {
  /* background-color: red; */
  /* color: black; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#results-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.turtle-results {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turtle-results-place {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.turtle-results-name {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}